<%= form_tag '/snakes'. method: :post do %>

<h2>
 <div>
   Name: <input type="text" name="name">
 </div> 
  <div>
   Age: <input type="text" name="age">
 </div> 
  <div>
   Species: <input type="text" name="species">
 </div> 
  <div>
  Image Url:: <input type="text" name="image">
 </div> 

 <input type="submit" value="Add Snake!">

</h2>

<% end %>